*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #3498db;
}
.main-box{
    height: 550px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50% , -50%);
    background: red;
    text-align: center;
}
.main-box .content{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: gray;
}
.content .box{
    position: absolute;
    background: red;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    cursor: pointer;
}
.content .box .share , .cancel{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #2980b9;
    background: #fff;
    letter-spacing: 1px;
    border-radius: 25px;
    opacity: 1;
    transition: all 0.3s ease;

}
.content .box .share{
    opacity: 1;
}
#check{
    display: none;
}
#check:checked ~ .box .cancel{
    opacity: 0;
}
#check:checked ~ .box .share{
    opacity: 1;
}
.content .image-box{
    position: absolute;
    height: 450px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    padding: 10px;
    left: 0;
    bottom: 130px;
}

.content .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}